.dropdown-menu{
  margin-left: 10px;
  color: slategray;
}

.dropdown-menu a{
  margin-top: 10px;
  margin-left: 5px;
  color: dodgerblue;
}

.dropdown-menu p{
  margin-top: 10px;
  margin-left: 5px;
}

.dropdown-menu input{
  margin-top: 10px;
  margin-left: 5px;
  width: 200px;
  height: 25px;
}

.color-box {
  width: 200px;
  height: 25px;
  margin: 16px auto;

  cursor: pointer;
}

a.listBoard:hover {
  background: lightseagreen;
  color: #fff;
}

.createBoard:hover {
  background: dodgerblue;
  color: #fff;
}

.createBoard {
  border: none;
  color: dodgerblue;
  background-color: #e3f2fd;
}

#accessoriesDropdown {
  height: 38px;
  width: auto;
}

.check-color-1 {
  background-color: #2883e9;
  color: white;
  width: 250px;
  height: 30px;
}

.check-color-1:focus {
  border: 1px solid black;
}

.check-color-2 {
  background-color: #e920e9;
  color: white;
  width: 250px;
  height: 30px;
}

.check-color-2:focus {
  border: 1px solid black;
}

.check-color-3 {
  background-color: #e4E925;
  color: white;
  width: 250px;
  height: 30px;
}

.check-color-3:focus {
  border: 1px solid black;
}

.check-color-4 {
   background-color: #eC4040;
   color: white;
   width: 250px;
   height: 30px;
 }

.check-color-4:focus {
  border: 1px solid black;
}

.check-color-5 {
  background-color: #2DD02D;
  color: white;
  width: 250px;
  height: 30px;
}

.check-color-5:focus {
  border: 1px solid black;
}
