.dropdown-menu{
  margin-left: 10px;
  color: slategray;
}

.dropdown-menu a{
  margin-top: 10px;
  margin-left: 5px;
  color: dodgerblue;
}

.dropdown-menu p{
  margin-top: 10px;
  margin-left: 5px;
}

.dropdown-menu input{
  margin-top: 10px;
  margin-left: 5px;
  width: 200px;
  height: 25px;
}

.color-box {
  width: 200px;
  height: 25px;
  margin: 16px auto;

  cursor: pointer;
}

a.listBoard:hover {
  background: lightseagreen;
  color: #fff;
}

.createBoard:hover {
  background: dodgerblue;
  color: #fff;
}

.createBoard {
  border: none;
  color: dodgerblue;
  background-color: #e3f2fd;
}
