<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="/user"><i class="fas fa-home"></i></button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div style="margin-left: 5px">
    <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="/board"><i class="fas fa-clipboard-list"></i> Board
    </button>
  </div>
  <div style="margin-left: 5px">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>
  <div class="ml-auto">
    <button type="button" class="btn btn-outline-primary">Registry</button>
    <button type="button" class="btn btn-outline-primary" style="margin-left: 5px"><i class="far fa-bell"></i></button>
    <button type="button" class="btn btn-outline-primary" style="margin-left: 5px"><i class="fas fa-user"></i></button>
  </div>
</nav>
<app-login></app-login>
<router-outlet></router-outlet>
