<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div *ngIf="userId">
    <img src="https://firebasestorage.googleapis.com/v0/b/trello-200ok.appspot.com/o/Image-frontend%2Ftrello-logo-blue.png?alt=media&token=a2f24048-f3a7-4a4c-8bb1-42350db85e7e" height="816" width="2655" [routerLink]="['/user', userId,'board']"/>
  </div>
  <div *ngIf="!userId">
    <img src="https://firebasestorage.googleapis.com/v0/b/trello-200ok.appspot.com/o/Image-frontend%2Ftrello-logo-blue.png?alt=media&token=a2f24048-f3a7-4a4c-8bb1-42350db85e7e" height="816" width="2655" routerLink="/"/>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="ml-auto"  *ngIf="!userId">
    <button type="button" class="btn btn-outline-primary" routerLink="/login">Login</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/register">Register</button>
  </div>
</nav>
