<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div>
    <img src="../../assets/img/trello-logo-blue.png" height="816" width="2655" routerLink="/"/>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="ml-auto">
    <button type="button" class="btn btn-outline-primary" routerLink="/login">Login</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/register">Register</button>
  </div>
</nav>
