<app-login-taskbar></app-login-taskbar>
<form [formGroup]="listForm" class="formList">
  <cdk-virtual-scroll-viewport itemSize="50" orientation="vertical" class="example-viewport">
    <div class="example-container">
      <div cdkDropListGroup>
        <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let list of listCards" cdkDrag>
            <input id="listName" type="text" formControlName="listName" value="{{list.listName + ' ' + list.listId}}"
                   (change)="changeNameList(list.listId)">
            <input id="listDeleteButton" type="button" class="btn btn-outline-dark" style="float: right;"
                   (click)="deleteListCard(list.listId)"
                   value="---">
          </div>
        </div>
      </div>

      <div cdkDropListGroup>
        <div class="example-list">
          <div class="example-box" *ngFor="let list of listCards">
            <app-list-card [id]="list.listId" (selectCard)="openCard($event)"></app-list-card>
          </div>
        </div>
      </div>
      <button id="createListButton" type="button" class="btn btn-outline-dark" (click)="createList()">Adding a new list
      </button>
    </div>
  </cdk-virtual-scroll-viewport>
</form>

<form [formGroup]="cardForm" (ngSubmit)="submit()">
  <div *ngIf="currentCard" class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div>
              <label for="recipient-id" class="sr-only">Title:</label>
              <input type="hidden" class="form-control" id="recipient-id" formControlName="cardId">
            </div>
            <div>
              <label for="recipient-name" class="col-form-label">Title:</label>
              <input type="text" class="form-control" id="recipient-name" formControlName="title">
            </div>
            <div>
              <label for="message-text" class="col-form-label">Description:</label>
              <textarea class="form-control" id="message-text" formControlName="description"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="submit()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>

