<app-login-taskbar></app-login-taskbar>
<form [formGroup]="listForm" class="formList">
  <div cdkDropListGroup>
    <div class="example-container" *ngFor="let list of listCards">
      <h4>
        <input type="text" formControlName="listName" value="{{list.listName + list.listId}}" (keydown.enter)="changeNameList(list.listId)">
        <input type="button" class="btn btn-outline-dark" (click)="deleteListCard(list.listId)" value="-">
      </h4>
      <app-list-card [id]="list.listId"></app-list-card>
    </div>
    <button type="button" class="btn btn-outline-dark" (click)="createList()">+</button>
  </div>
</form>
