<div cdkDropList [id]="id.toString()" [cdkDropListData]="searchDisplay" class="example-list-card" (cdkDropListDropped)="drop($event)">
  <div class="example-box-card" *ngFor="let item of searchDisplay" (cdkDragEnded)="sendNotification($event, item)" cdkDrag
       (cdkDragDropped)="changeCardListSet($event, item.cardId)">
    <button type="button" class="button1" data-toggle="modal" data-target="#exampleModal" (click)="setOpenCart(item)">
      <div *ngFor="let c of item.colors">
        <div class="color-box1" [style.background]=c ></div>
      </div>
      <br>
      <div style="color: black">
        Id: {{item.cardId}} + {{item.title}}
        + {{item.listSet.listId}}
      </div>
    </button>
  </div>
  <div>  <button type="button" class="btn btn-light" (click)="createCard(listSet.boardSet.boardId)">+</button>
  </div>
</div>
