<div cdkDropList [cdkDropListData]="cards" class="example-list-card" (cdkDropListDropped)="drop($event)">
  <div class="example-box-card" *ngFor="let item of cards" cdkDrag (cdkDragDropped)="change($event, item.cardId)">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"
      (click)="setOpenCart(item)">Id: {{item.cardId}} + {{item.title}}
      + {{item.listSet.listId}}</button>
  </div>
  <div>  <button type="button" class="btn btn-light" (click)="createCard(listSet.boardSet.boardId)">+</button>
  </div>
</div>

