<div class="container">
  <div class="board-page-recently">
    <h6 class="board-page-header-recently"><i class="far fa-clock"></i> Recently Viewed</h6>
    <div class="board-page-recently-body row">
      <div class="card col-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <!--      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        </div>
      </div>
      <div class="card col-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <!--      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        </div>
      </div>
    </div>
  </div>
  <div class="board-page-personal">
    <h6 class="board-page-header-personal"><i class="far fa-user"></i> Personal Boards</h6>
    <div class="board-page-recently-body row">
      <div class="card col-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <!--      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        </div>
      </div>
      <div class="card col-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <!--      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        </div>
      </div>
    </div>
  </div>
</div>

