<app-login-taskbar></app-login-taskbar>

<div class="container">
  <div class="board-page-recently">
    <h6 class="board-page-header-recently"><i class="far fa-clock"></i> Recently Viewed</h6>
    <div class="board-page-recently-body row">
      <div class="card col-3" style="width: 18rem;" *ngFor="let list of listBoardByTime">
        <div class="card-body" style="background-image: url('../../assets/img/sea-1337565_960_720.jpg')">
          <h6>Name: {{list.boardName}}</h6>
          <app-board [id]="list.boardId"></app-board>
        </div>
      </div>
    </div>
  </div>
  <div class="board-page-personal">
    <h6 class="board-page-header-personal"><i class="far fa-user"></i> Personal Boards</h6>
    <div class="board-page-personal-body row">
      <div class="card col-3" style="width: 18rem;" *ngFor="let list of listBoard">
        <div class="card-body" style="background-image: url('../../assets/img/pexels-photo-355465.jpeg')">
          <h6>Name: {{list.boardName}}</h6>
          <app-board [id]="list.boardId"></app-board>
        </div>
      </div>
    </div>
  </div>
</div>

