.container-fluid{
  background-color: whitesmoke;
  background-image: url("../../assets/img/wallpaper-4k-hinh-nen-4k-nhung-chiec-coi-xay-gio-dep_100012653.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-left: 130px;
  padding-bottom: 10px;
}

.right-body{
  float: left;
  width: 80%;
}

.board-page-recently{
  margin-left: 50px;
  padding-top: 10px;
}

.board-page-personal{
  margin-left: 50px;
  margin-top: 10px;
}

.board-page-group{
  margin-left: 50px;
  margin-top: 10px;
}

.card{
  margin-top: 10px;
  margin-left: 5px;
  height: 100px;
  border: none;
  background: none;
}

.card-body{
  background-image: none;
  background-size: cover;
  background-position: center center;
  background-color: darkgray;
  text-align: center;
}

.card-body h6{
  color: white;
}

mat-sidenav{
  width: 200px;
}

.card-body.create{
  background: none;
  border: 1px dotted white;
}
