<app-login-taskbar></app-login-taskbar>

<div class="container-fluid">
  <!--Grid column-->
  <div class="col-lg-4 col-md-6 mb-lg-0 mb-4 float-right">
    <!--Card-->
    <div class="card testimonial-card">
      <!--Background color-->
      <div class="card-up info-color"></div>
      <!--Avatar-->
      <div class="avatar mx-auto white">
        <a *ngIf="userInfo !== undefined">
          <img *ngIf="userInfo.avatarLink !== null" src="{{userInfo.avatarLink}}" class="rounded-circle img-fluid" alt="image">
          <img *ngIf="userInfo.avatarLink === null" src="https://www.pnglot.com/pngfile/detail/173-1734978_unknown-profile-black-and-white-unknown-profile.png"
               class="rounded-circle img-fluid" alt="image">
        </a>
        <input type="file" id="fileElem" style="display:none" (change)="onFileSelect($event)">
      </div>
      <div class="card-body">
        <!--Name-->
        <h4 class="font-weight-bold mb-4" style="text-align: center">{{info.username}}</h4>
        <hr>
        <!--Quotation-->
        <p class="dark-grey-text mt-4"><i class="fa fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet eos
          adipisci, consectetur adipisicing elit.</p>
      </div>
      <button id="fileSelect"><i class="fas fa-camera-retro"></i> Change avatar</button>
    </div>
    <!--Card-->
  </div>
  <!--Grid column-->
  <div class="row">
    <div class="col-3.5 ">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active  btn-outline-info" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
           aria-controls="v-pills-profile" aria-selected="true"><i class="fa fa-user"></i>  Profile</a>
        <a class="nav-link  btn-outline-info" id="v-pills-changePassword-tab" data-toggle="pill" href="#v-pills-changePassword" role="tab"
           aria-controls="v-pills-changePassword" aria-selected="false"><i class="fa fa-lock"></i> Change Password</a>
        <a class="nav-link  btn-outline-info" id="v-pills-logout-tab" data-toggle="pill" href="#v-pills-logout" role="tab"
           aria-controls="v-pills-logout" aria-selected="false"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </div>
    </div>
    <div class="col-9 col-lg-9 col-md-6 mb-lg-0">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
             aria-labelledby="v-pills-profile-tab">
          <div class="card panel-info" style="margin: 1em;">
            <div class="panel-heading list-group-item-info">
              <h3 class="panel-title">Name</h3>
            </div>
            <div class="panel-body" style="margin-top: 5px; margin-bottom: 5px">
              {{info.username}}
            </div>
          </div>
          <div class="card panel-info" style="margin: 1em;">
            <div class="panel-heading list-group-item-info">
              <h3 class="panel-title">Email</h3>
            </div>
            <div class="panel-body" style="margin-top: 5px; margin-bottom: 5px">
              {{info.email}}
            </div>
          </div>
          <div class="card panel-info" style="margin: 1em;">
            <div class="panel-heading list-group-item-info">
              <h3 class="panel-title">Last Password Change</h3>

            </div>
            <div class="panel-body" style="margin-top: 5px; margin-bottom: 5px">
              4 days Ago
            </div>
          </div>
        </div>


        <div class="tab-pane fade" id="v-pills-changePassword" role="tabpanel"
             aria-labelledby="v-pills-changePassword-tab">
          <form action="/password" method="post" [formGroup]="passForm">
            <div class="card panel-info">
              <div class="panel-heading list-group-item-info">
                <h3 class="panel-title">
                  <label for="old_password" class="control-label panel-title">Old Password</label>
                </h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <div class="col-sm-12 " style="margin-top: 10px">
                    <input type="password" class="form-control" formControlName="oldPassword" name="oldPassword"
                           id="old_password">
                    <div class="alert alert-danger" role="alert"
                         *ngIf="passForm.get('oldPassword').invalid && passForm.get('oldPassword').touched">
                      Invalid old password!
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="card panel-info" style="margin: 1em;">
              <div class="panel-heading list-group-item-info">
                <h3 class="panel-title"><label for="new_password" class="control-label panel-title">New Password</label>
                </h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <div class="col-sm-12 " style="margin-top: 10px">
                    <input type="password" class="form-control" name="newPassword" id="new_password"
                           formControlName="newPassword">
                    <div class="alert alert-danger" role="alert"
                         *ngIf="passForm.get('newPassword').invalid && passForm.get('newPassword').touched">
                      Invalid new password!
                    </div>
                  </div>
                </div>

              </div>
            </div>


            <div class="card panel-info" style="margin: 1em;">
              <div class="panel-heading list-group-item-info">
                <h3 class="panel-title"><label for="confirm_password" class="control-label panel-title">Confirm
                  password</label></h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <div class="col-sm-12 " style="margin-top: 10px">
                    <input type="password" class="form-control" name="cPassword" id="confirm_password"
                           formControlName="cPassword">
                    <div class="alert alert-danger" role="alert"
                         *ngIf="passForm.get('cPassword').invalid && passForm.get('cPassword').touched">
                      Invalid confirm password!
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="panel " style="margin: 1em;">
              <div class="panel-body">
                <div class="form-group">

                    <input type="submit" class=" btn btn-outline-info" name="submit" id="submit" value="Update Password"
                           (click)="updatePassword()">

                </div>
              </div>
            </div>
          </form>

        </div>


        <div class="tab-pane fade" id="v-pills-logout" role="tabpanel" aria-labelledby="v-pills-logout-tab">

          <div class="col-md-12 admin-content" id="logout">
            <div class="card panel-info" style="margin: 1em;">
              <div class="panel-heading list-group-item-info">
                <h3 class="panel-title">Confirm Logout</h3>
              </div>
              <div class="panel-body" style="margin-top: 5px; margin-bottom: 5px">
                Do you really want to logout ?  
                <a class="label label-danger">
                <button type="button" class="btn btn-outline-danger" (click)="onLogout()">Yes</button>
                </a>    
                <a class="label label-success"><button type="button" class="btn btn-outline-success" (click)="onTranPageBoard()">No</button>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

