.image {
  background-image: url("../../assets/img/polyscape-wallpaper-full-hd-449103.jpg");
  height:38.2em;
  background-size:cover;
  width:auto;
  background-position:50% 50%;
}

.welcome{
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 230px;
  text-align: center;
}

h1 {
  color: #e3f2fd;
}

h3 {
  color: #e3f2fd;
}
