.image {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/trello-200ok.appspot.com/o/Image-frontend%2Fpolyscape-wallpaper-full-hd-449103.jpg?alt=media&token=bac4d4f3-73a3-4a14-8594-8febc61711a4");
  height:880px;
  background-size:cover;
  width:auto;
  background-position:50% 50%;
}

.welcome{
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 350px;
  text-align: center;
}

h1 {
  color: #e3f2fd;
}

h3 {
  color: #e3f2fd;
}
